#list-kardex li { padding: 2px; }
#list-kardex li span { display: inline-block;
                        width: 200px;
                     font-size: 15px;}
a.btn { padding: 5px 5px 4px !important; 
		text-align: center !important; 
		background: green; 
		font-weight: bold !important; 
	   text-decoration:none;
	   margin-left: 5px;

	}
.close { background: #e6423b !important; border:1px solid #e12d2d; color: #FFF !important; }          
.config { background: #DADADA !important; border:1px solid #cccccc; color:#333 !important; }           