/* 
    Document   : evb
    Created on : 11/02/2013, 10:19:47 AM
    Author     : Ericson
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.divcentrado{
 width:800px;
 margin:0 auto;
}
.label{
    font-size:12px;
    font-family: Arial;
}