.pagination {
   	height:25px;
	font-size: 10px;
	color: #fff;
	background-color:#EEE;
	background-repeat:repeat-x
}
        
.pagination label {
    text-decoration: none;
	/*border: solid 1px #AAE;*/
	color:#000;
}

.pagination label, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background:#fff;
    color: #000;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#;
	/*border-color:#999;
	background:#CCC;*/
}

.next, .prev{
	border: solid 1px #AAE;
	background-color:#FFF;
}
