/*body{
	margin:0;
	padding:0;
	color:#333;
	background-color:#FFF;
	font-size:11px;
	font-family:Arial,Helvetica,sans-serif;
}
*/
 .body{
 	  background: #212121 url("../images/fondo.jpg");
 	  color: #fff;
 	  font-family: "Chalet",Helvetica,Verdana;
 	  font-size: 2em;
      }
*{
	margin: 0;
	padding: 0;
 }
 @font-face{
 	font-family: "chalet";
 	src:url("../fonts/Chalet.eot");
 	src:url("../fonts/Chalet.eot?#iefix") format("embedded-opentype"),
 	    url("../fonts/Chalet.woff")format("woff"),
 	    url("../fonts/Chalet.ttf")format("truetype"),
 	    url("../fonts/Chalet.svg#chalet")format("svg");
 	font-weight: normal;
 	font-style: normal;
 }
 h1{
   color: #F60;
   margin: 0.25em auto;
   text-align: center;
   text-shadow:5px 5px 10px rgba(255,255,255,0.5);

}
h5{padding: 0.55em;
   text-shadow:5px 5px 10px #000;
   }
header h5{ text-align: center;}

section a{color: #fff; 
	  text-align:center;
	  font-size: 12px;
	}
footer{
	/*background: #4D8730;*/
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;
	font-size: 0.55em;
	text-shadow:5px 5px 10px #000;
}
section#contenedor{
	margin: 2.5em auto;
	max-width: 960px;
	padding: 0;
	text-align: center;
}
section#principal,aside{
	background: #4D8730;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.25em;
	max-width: 960px;
	min-height: 200px;
	padding: 0.25em;
	text-align: center;
	vertical-align: top;
	width: 62%;
	/*opacity: 0.9;
	text-shadow:5px 5px 10px rgba(255,255,255,0.5);
	box-shadow: 2px 2px 5px; #EEE;*/
}
article{
	background: #011E30 transparent;
	border-radius: 0.5em;
	min-height: 80px;
	padding: 0.73em;
}
aside{
	width: 30%;
     }
p{font-size: 12px; 
  font-family: arial;
  text-align: justify;
  text-shadow:5px 5px 10px #000;
  }
.form-block{
	color: #FFF;
	padding:0.1em;
	font-size: 0.35em;	
}
.form-block label{
	  width:150px;
	  margin-left:0.25em;
	  text-shadow:5px 5px 10px #000;
	}
.form-block input{
	  max-width:250px;
	  margin-left:0.45em;
	  border:0px;
	  font-family: "Chalet",Helvetica,Verdana; 
	  background: #fff;
	  text-transform: uppercase;
	}	
#wrapper{
	border:0;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	padding:0;
}
#header{
	background-color:#FFF;
	background-position:right top;
	border-bottom:4px solid #80B5D7;
}
#mambo{
	position:relative;
	width:100%;
	background:url(../images/green.png)repeat-x;
	background-position:top right;
	margin:0;
	padding:0;
}
#break{height:50px;}
form{margin:0;}
.button{
	border:solid 1px #ccc;
	background:#E9ECEF;
	color:#666;
	font-weight:bold;
	font-size:11px;
	padding:4px;
}

.login{
	margin-left:auto;
	margin-right:auto;
	margin-top:6em;
	padding:15px;
	border:1px solid #ccc;
	width:429px;
	background:#F1F3F5;
}
.login h1{
	background:url(../images/login_header.png) no-repeat;
	background-position:left top;
	color:#333;margin:0;
	height:50px;
	padding:15px 4px 0 50px;
	text-align:left;font-size:1.5em;
}.login p{
	padding:0 1em 0 1em;
}

.login-form{
	text-align:left;float:right;
	width:60%;
}
.login-text{
	text-align:left;
	width:40%;
	float:left;
}
.inputlabel{
	font-weight:bold;
	text-align:left;
}
.inputbox{
	width:150px;
	margin:0 0 1em 0;
	border:1px solid #ccc;
}
.clr{clear:both;}
.ctr{text-align:center;}
.version{font-size:.8em;}