/* CSS Document */

#ListaMenu thead {
	height:25px;
	font-size: 13px;
	color: #FFFFFF;
	background-color: #0099CC;
	cursor:pointer;
	background-image:url(../images/CabIndex.jpg)
}

#ListaMenu tbody {
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	cursor:pointer;
}
#ListaMenu tfoot {
	color: #FFFFFF;
	background-color: #0099CC;
	background-image:url(../../images/PieIndex.jpg)
}
/*
body {
	background-image: url(../images/LogoCisneros.jpg);
	background-repeat:repeat;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
*/
a:link {
	color:#000;
	text-decoration: none;
}
a:visited {
	color:#000;
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
	font-weight:bold;
	color:#F00
}
a:active {
	text-decoration: none;
	color:#000
}

#tbCampos thead {
	text-align:center;
	font-size:16px;
	color:#FFFFFF;
	background-color:#0099CC;
	height:25px;
}
#CamposMant {
	color:#000000;
	background-color:#FFFFFF;
	text-align:right;
	vertical-align:top
}
#tbCampos tfoot {
	text-align:center;
	font-size:16px;
	color:#FFFFFF;
	background-color:#0099CC;
}

.SubTitulo {
	color:#FFFFFF;
	padding-left:10px;
	height:25px;
	font-size:14px;
	font-style:italic;
	background-image:url(../images/subtitulo.jpg);
	background-repeat:no-repeat
}

.TitDetalle {
	color:#000000;
	font-size:14px;
	text-align:right;
	padding-right:5px;
	background-color: #ffffff;
	width:150px;
	vertical-align:top
	
}

.CampoDetalle {
	text-align:left;
	padding-left:5px;
	background-color:#ffffff;
}

.Confirmar {
	height:35px;
	background-image:url(../images/confirmar.jpg)
}

.inputtext {
	padding-left:5;
	padding-right:5;
	border-color:#084B8A;
	border-width:1px;
	border-style:solid;
	color:#000;
	background-color:#FF9;
}
.select {
	padding-left:5;
	border-color:#900;
	border-width:1px;
	border-style:solid;
	color:#000;
	background-color:#FF9;
}
.inputtext_1 {
	padding-left:5;
	padding-right:5;
	background:#fff;
	border:#000 solid 1px; 
	color:#000;
	font-family:"Courier New", Courier, monospace;
	background-color:#D9E5F2;
	font-size:12px;
}

.select_1{
	padding-left:5;
	background:#fff;
	border:#000 solid 1px; 
	color:#000;
	background-color:#D9E5F2;
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
}
.cabecera{
	font-family:"Courier New";
	font-size:14px;
        height: 25px;
        padding-right: 10px;
}
.LetraMenu{
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	text-align:center
}
.button {
	font:14px Georgia,Verdana; 
	margin-bottom:10px; 
	padding:8px 10px 9px; 
	border:1px solid #ccc; 
	background:#eee; 
	cursor:pointer
}

#testdiv {
	width:200px; 
	margin:0 auto; 
	border:1px solid #ccc; 
	padding:20px 25px; 
	background:#fff
}

.Menu_Celda {
	padding-left:5;
	padding-right:5;
	color:#000;
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
	cursor:pointer;
	background-color:#D9E5F2;
}

.Letritas{
	font-size:12px;
}

.Confirmar{
	font-family:"Comic Sans MS", cursive;
	font-size:24px;
	color:#F00;
}

.boton{
	 background-color:#CCC;
	 border:1px;
	 border-style:solid;
	 cursor:pointer;
	 width:140px;
     height:20px;
	 font:Arial;
	 color:#000;
}

/*////////////////////////////////*/
.fieldsetDatos { width:800px;
				margin:0;
				padding:0;}
.new_table { width:750px;
			font-family:Verdana, Geneva, sans-serif;
			font-size:12px;}
			
.new_table2 { width:790px;
			font-family:Verdana, Geneva, sans-serif;
			font-size:12px;
			padding:0;
			margin:0;}
			
.new_table2 .cabecera {height:25px;
					 cursor:pointer;
					 background: #0199CB;
					 color:#FFF;
					 font-weight:bold;
					 
					}
.new_table2 .cabecera td {border-top:1px solid #CCC;
							border-bottom:1px solid #CCC;
							padding-left:3px;
							border-right:1px solid #FFF; 
							
						}
						
.new_table2 .detalle {cursor:pointer;}
.new_table2 .detalle td {border-left:1px solid #FFF;
						 border-bottom:1px solid #FFF;
						 height:20px; }

.new_Titulo {width:100%;
			 height:30px;
			 background:url(../images/img1.jpg) repeat-x;
			 font-size:16px;
			 color:#006;
			 font-weight:bold;
			 padding-top:5px;
			 }
.new_img { border:0;
		   display:inline-table;
		 }

legend {font-size:11px;}

#asegurado {width:60%;
			height:104px;
			float:left;
			background:#F8F8F8;

			}
#depreciable {width:40%;
			height:104px;
			float:left;
			background:#EEE;
			}

.botones {
			font-size:10px;
			height:30px;
		 }	
		
#frmpop {	
			width:530px;
			height:auto;
			background:#fff url(../images/img6.png) repeat;
			border:1px solid #ACACAC;
			position:absolute;
			}	
			
#frm_popup,#frm_popup1 {
			
			height:auto;
			background:#EEEEEE url(../images/img6.png) repeat-x;
			border:1px solid #666;
			position:absolute;			
			padding:4px;

			}

.barra { width:inherit;
		 height:20px;
		 background:#069;
		 margin-left:2px;
		 margin-top:2px;		 
		}

.titulo_v { float:left;
			color:#FFF;
			font-size:11px;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
			margin:3px 0 0 3px;
			
			}
.tdconfir { text-align:right;
			background:#EEEEEE;
			border-top:1px solid #CCC;
			}
#contenido,#contenido1 {
			width:auto;
			height:auto;
			}
.cabecera {font-weight:bold;
			}
			
.alerta_si { position:absolute;
			 width:300px;
			 height:100px;
			 background:url(images/ui-bg_glass_100_fdf5ce_1x400.png) repeat-x;
			 border:2px solid #333333;
			}
#dialog { font-size:10px !important;}

#frmcubrir{ 
    position: absolute;
	width: 100%; height: 100%;
    opacity: 0.75;
    -moz-opacity: 0.75; /* para viejos navegadores Gecko-based */
    filter:alpha(opacity=75); /* para IE6&7 */
    color: #ccc;
    background-color:#999;
}

.tbmensaje{
	border:1px #000 solid;
}